// Description: This Sass file assigns text colors from 10-colors.scss to specific classes.
// Using @import to bring in the color variables.

@import '10-colors';

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}
